<% content_for :title, 'News' %>

<div class="container showNews">

  <h4 class="text-center"><%= @news.title %></h4>
  <p><%= @news.content %></p>



  <div class="text-center">
    <% if admin_signed_in? %>
      <%= button_to 'Edit', edit_news_path(@news), class: 'btn btn-mycolor', method: :get %>
    <% end %>
    <%= button_to 'Back', root_path, class: 'btn btn-mycolor', method: :get %>
  </div>

</div>
