/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate
 *= require owl.carousel
  *= require owl.theme
 */
@import "bootstrap";
@import "hover";
@import "font-awesome";
@import 'slick';

@font-face {
  font-family: "FontAwesome";
  src: font_url('fontawesome-webfont.eot');
  src: font_url('fontawesome-webfont.eot?#iefix') format('eot'), font_url('fontawesome-webfont.woff') format('woff'), font_url('fontawesome-webfont.ttf') format('truetype'), font_url('fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 50%;
  margin:0 auto;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

.alert {
  position: absolute;
  z-index: 1000;
  width: 50%;
  text-align: center;
}

.btn-mycolor {

  color: white;
  background: #8A496B;
  margin-top: 1rem;
  opacity: 0.5;

  &:hover{
    opacity: 1;
  }

}

.btn:focus, .btn.focus {
  outline: none;
  box-shadow: none;
}

.navbar {
  margin-top: 3rem;
  border-bottom: 3px solid #8A496B;

  .navbar-nav {
    letter-spacing: 3px;
  }

  .navbar-brand {
    color: #8A496B;
    letter-spacing: 2px;
  }

}

h2, h4, h5{
  color: #8A496B;
}

h4 {
  letter-spacing: 2px;
}

.headPage {
  padding-top: 6rem;
  background: #8A496B;;
  height: 16rem;
  border-bottom: 3px solid #8A496B;

  h2 {
    color: #fff !important;
    letter-spacing: 5px;
  }

  p {
    color: #fff !important;
    letter-spacing: 2px;
  }

}

.bodyPage{
  padding-top: 1.5rem;

    .col-md-6:nth-child(2) {
      border-left: 2px solid rgb(138,73,107);
    }

  .newsPage {

    h4 {
      padding-bottom: 1rem;
    }

    h5 {
      letter-spacing: 2px;
    }

    p {
      opacity: 0.8;
      color: #8A496B;
    }

    a {
        color: #8A496B !important;
      }

    .readMore {
      position: absolute;
      left: 75%;
    }

  }

  .latestItem {

    table {
      margin-top: 3rem;
    }

    h5 {
      margin-top: 1rem;
      letter-spacing: 2px;
    }

    p {
      opacity: 0.8;
      color: #8A496B;
    }



  }

}

.gemsHeader {

  background: #8A496B;
  padding: 40px;

  h2 {
    color: white !important;
    letter-spacing: 2px;
  }
}

.gemsBtn {
  margin-top: 2rem;
}

#carouselCont {

  margin-top: 3rem;

  img {
    height: 128px !important;
    width: 128px !important;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  p {

    width: 50%;
    margin:0 auto;
    margin-bottom: 1rem;

  }


  .owl-next, .owl-prev {
    height: 80px;
    position: absolute;
    width: 40px;
    cursor: pointer;
    top: 100px !important;

    .fa {
      font-size: 2rem;
    }

  }

  .owl-next {
    right: 0px;
    bottom: 10px;
    color: #8a496b;
  }

  .owl-prev {
    left: 0px;
    bottom: 10px;
    color: #8a496b;
  }

 .owl-prev.disabled,.owl-next.disabled  {
    pointer-events: none;
    opacity: 0.2;
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    color: white !important;
    background: #8a496b;
;

  }

  .owl-dot.active span, .owl-dot:hover span {
    background: #8a496b !important;
  }

  .btn {
    margin-bottom: 2rem;
  }

}

.showNews {

  h4 {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  p {
      opacity: 0.8;
      color: #8A496B;
      padding-bottom: 2rem;
    }

    form {
      display: inline;
    }

}

.footer {
  position: absolute;
  bottom: 1.5rem;
  background: #fff;
  width: 50%;
  height: 60px;
  line-height: 60px;
  border-top: 3px solid #8A496B;
}


